body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    color: #333;
    margin: 0;
}

    body > header {
        width: 60%;
        margin: 2em auto;
        border-bottom: #eeeeee inset 1px;
        padding-bottom: 1.75em;
        background: url(/assets/img/nxnw_80x80.png) no-repeat
    }

        body > header > p {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: xx-large;
            font-weight: bold;
            margin: 0;
            padding: 0 0 0.25em 0;
            padding-left: 90px
        }

        body > header > nav li {
            margin-bottom: 1em
        }

        body > header > nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            padding-left: 90px
        }

            body > header > nav ul li {
                display: inline;
                padding-right: 1em
            }

aside.under-construction {
	background-color: #f7c102;
	margin-bottom: 1.75em;
}

aside.under-construction:before {
	content: '';
	display: block;
	height: 1em;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, #000 35px, #000 70px);
}
aside.under-construction:after {
	content: '';
	display: block;
	height: 1em;
	background-image: repeating-linear-gradient(45deg, #000, #000 35px, transparent 35px, transparent 70px);
}
	aside.under-construction p {
		background-color: #f7c102;
		color: #000;
		margin: 1em;
		font-weight: bold;
		text-align: center;
	}
		aside.under-construction p a {
			color: #000;
			text-decoration: underline;
		}
			aside.under-construction p a:hover {
				color: #4078c0;
			}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25
}

h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eee
}

h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee
}

h3 {
    font-size: 1.25em
}

h4 {
    font-size: 1em
}

h5 {
    font-size: 0.875em
}

h6 {
    font-size: 0.85em;
    color: #777
}

a {
    background-color: transparent;
    color: #4078c0;
    text-decoration: none
}

    a:hover {
        outline-width: 0;
        text-decoration: underline
    }

.date, .meta, .tags {
    font-size: small;
    line-height: 1em
}

img {
    border-style: none;
    box-sizing: content-box;
    max-width: 100%;
    height: auto
}

hr {
    box-sizing: content-box;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd
}

    hr::before {
        content: "";
        display: table
    }

    hr::after {
        clear: both;
        content: "";
        display: table
    }

main {
    border-bottom: #eeeeee inset 1px;
    margin-bottom: 2em;
    padding-bottom: 1.75em;
    width: 60%;
    margin-right: auto;
    margin-left: auto
}

    main .listing {
        list-style: none;
        padding-left: 0
    }

        main .listing li {
            margin-bottom: 3.5em
        }

    main section li {
        margin-bottom: 1em
    }

    main blockquote {
        padding: 0 1em;
        margin: 0 1em;
        color: #777;
        border-left: 0.25em solid #ddd
    }

        main blockquote > :first-child {
            margin-top: 0
        }

        main blockquote > :last-child {
            margin-bottom: 0
        }

    main code, main kbd, main pre {
        font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace
    }

    main code {
        padding: 0;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(0,0,0,0.04);
        border-radius: 3px
    }

        main code::before, main code::after {
            content: "\00a0";
            letter-spacing: -0.2em
        }

    main pre {
        word-wrap: normal;
        padding: 16px;
        overflow: auto;
        font-size: 65%;
        line-height: 1.45;
        background-color: #f7f7f7;
        border-radius: 3px
    }

        main pre > code {
            padding: 0;
            margin: 0;
            font-size: 100%;
            word-break: normal;
            white-space: pre;
            background: transparent;
            border: 0
        }

        main pre code {
            display: inline;
            padding: 0;
            margin: 0;
            overflow: visible;
            line-height: inherit;
            word-wrap: normal;
            background-color: transparent;
            border: 0
        }

            main pre code::before, main pre code::after {
                content: normal
            }

    main kbd {
        display: inline-block;
        padding: 3px 5px;
        font-size: 11px;
        line-height: 10px;
        color: #555;
        vertical-align: middle;
        background-color: #fcfcfc;
        border: solid 1px #ccc;
        border-bottom-color: #bbb;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #bbb
    }

    main p {
        line-height: 1.75em
    }

        main p strong {
            font-weight: bolder
        }

        main p img:only-child {
            display: block;
            margin: auto
        }

    main ul, main ol {
        padding-left: 2em
    }

        main ul ul, main ul ol, main ol ol, main ol ul {
            margin-top: 0;
            margin-bottom: 0
        }

    main li > p {
        margin-top: 16px
    }

    main li + li {
        margin-top: 0.25em
    }

    main dl {
        padding: 0
    }

        main dl dt {
            padding: 0;
            margin-top: 16px;
            font-size: 1em;
            font-style: italic;
            font-weight: bold
        }

        main dl dd {
            padding: 0 16px;
            margin-bottom: 16px
        }

    main table {
        display: block;
        width: 100%;
        overflow: auto
    }

        main table th {
            font-weight: bold
        }

        main table th, main table td {
            padding: 6px 13px;
            border: 1px solid #ddd
        }

        main table tr {
            background-color: #fff;
            border-top: 1px solid #ccc
        }

            main table tr:nth-child(2n) {
                background-color: #f8f8f8
            }

footer {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em
}

    footer p {
        line-height: 1.1em;
        font-size: 75%
    }

form .email-confirmation {
    display: none
}

form label {
    display: inline-block;
    vertical-align: top;
    width: 12%
}

form input, form textarea {
    color: #333;
    display: inline-block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    line-height: 1.75em;
    padding: 0 5px;
    width: 58%
}

    form input[type=submit] {
        margin-left: 12%;
        padding: 5px 15px;
        width: auto
    }

.years {
    list-style-type: none;
    margin: 0;
    padding: 0
}

    .years a {
        padding-right: 1em
    }

.months {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 75%
}

    .months > li {
        display: inline-block;
        margin: 0
    }

.tagcloud {
    padding: 0;
    text-align: justify
}

    .tagcloud li {
        display: inline;
        list-style: none
    }

    .tagcloud span {
        display: none
    }

    .tagcloud .ultra-popular {
        font-size: 250%
    }

    .tagcloud .very-popular {
        font-size: 200%
    }

    .tagcloud .popular {
        font-size: 150%
    }

    .tagcloud .somewhat-popular {
        font-size: 125%
    }

    .tagcloud .less-popular {
        font-size: 100%
    }

    .tagcloud .not-popular {
        font-size: 75%
    }

@media screen and (max-width:880px) {
    body > header, body main, body footer {
        width: 90%
    }

    form label {
        display: inherit;
        vertical-align: unset;
        width: auto
    }

    form input, form textarea {
        display: block;
        width: 90%
    }

        form input[type=submit] {
            margin-left: 0
        }
}
