@{
	var posts = Documents
		.ContainsKey("date");

	var years = posts
		.Select(x => x.Get<DateTime>("date").Year)
		.Distinct()
		.OrderByDescending(x => x);

	ViewData["PostListDocuments"] = posts
		.OrderByDescending(x => x.Get<DateTime>("date"))
		.Take(10);
}

<section>
	<header>
		<h2>Latest posts</h2>
	</header>
	@Html.Partial(@"_layouts\postListing")
</section>

<section>
	<header>
		<h2>Archive</h2>
	</header>
	<ul>
		@foreach (var year in years)
		{
			<li>
				<a href="/@year/">@year</a>
			</li>
		}
	</ul>
</section>
