@using Wyam.Modules.Razor.Microsoft.AspNet.Html.Abstractions
@{
	var posts = Documents.FromPipeline("Legacy_WordPress_Posts")
		.Where(x => x.Get<string>("wp_status") == "publish" && x.Get<string>("wp_post_type") == "post")
		.OrderByDescending(x => x.Get<DateTime>("wp_post_date_gmt"))
		.Take(10);

	Func<IDocument, IHtmlContent> excerpt = (doc) =>
	{
		return Html.Raw(Html.Excerpt(doc.Get<string>("Excerpt"), 50, " [&hellip;]"));
	};
}

<header>
	<h2>Latest posts</h2>
</header>

<ul>
	@foreach(var post in posts)
	{
		<li>
			<div>
				<h3><a href="/@(post.Get<string>("RelativeFilePath").Replace("\\", "/").Replace("/default.html", "/"))" rel="bookmark">@post["title"]</a></h3>
				<p>@(excerpt(post))</p>
				<p><span>Posted on <time datetime="@(post.Get<DateTime>("wp_post_date_gmt").ToString("yyyy-MM-ddTHH:mm"))">@(post.Get<DateTime>("wp_post_date_gmt").ToShortDateString())</time></span></p>
			</div>
		</li>
	}
</ul>
