:root {
    --foreground: #333;
    --background: #fff;
    --hyperlink: #c00;
    --litetone: #f1f1f1;
    --midtone: #bababa;
    --darktone: #999;
}

@media(prefers-color-scheme: dark) {
    :root {
        --foreground: #fff;
        --background: #333;
        --hyperlink: #f93;
        --litetone: #ccc;
        --midtone: #ccc;
        --darktone: #999;
    }
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    color: var(--foreground);
    background-color: var(--background);
}

h1 {
    font: bold 4.2rem 'Karla', Helvetica, Arial, sans-serif;
    margin: 0 0 0.5em;
}

h2 {
    font: bold 1.8rem 'Karla', Helvetica, Arial, sans-serif;
    margin: 0 0 1em;
}

h3 {
    font: bold 1.5rem 'Karla', Helvetica, Arial, sans-serif;
    margin: 0 0 1em;
}

h4, h5, h6 {
    font: bold 1.2rem 'Karla', Helvetica, Arial, sans-serif;
    margin: 0 0 1em;
}

p, ul, dl, ol, table {
    font-size: 1.6rem;
    margin: 0 0 1.5em;
    line-height: 1.5em;
}

ul {
    padding-left: 1em;
}

li {
    margin-bottom:0.5em;
}

mark {
    background: none;
    font-style: normal;
}

video {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--hyperlink);
}

a:hover {
    text-decoration: underline;
}


img {
    display: block;
    margin: 0 10px 10px 0;
    max-width: 100%;
}

figcaption {
    font-size: 1.3em;
}

code {
    font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace;
    color: var(--darktone);
}

sub, sup {
    line-height: 0;
}

::selection {
    background: var(--hyperlink);
    color: var(--background);
}

.page-header {
    border-top: 10px solid var(--foreground);
    padding: 2em 2.5% 1em;
    border-bottom: 1px solid var(--foreground);
    margin: 0 0 2em;
}

.page-header-title {
    margin: 0 0 0.25em;
    line-height: 1;
}

.page-header-subtitle {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.entry {
    border-bottom: 1px solid var(--midtone);
    padding: 2em 0 0;
    position: relative;
}

.entry-title {
    font-weight: normal;
    font-size: 3rem;
    margin: 0 0 0.1em;
}

.entry-future .entry-title,
.entry-future .entry-title a {
    color: var(--midtone);
}

.entry-title:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--foreground);
    border-radius: 20px;
    background: var(--foreground);
    position: absolute;
    left: -44px;
    top: 0.95em;
}

.entry-future .entry-title:before {
    border-color: var(--midtone);
    background: var(--background);
}

.entry-title:after {
    content: '';
    display: block;
    position: absolute;
    top: 1.2em;
    left: -1.25em;
    width: 12px;
    height: 10px;
    background: transparent url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='11.314px' height='9.192px' viewBox='0 0 11.314 9.192' enable-background='new 0 0 11.314 9.192' xml:space='preserve'%3E%3Cstyle%3Epolygon %7B fill: %23fff; %7D @media (prefers-color-scheme: dark) %7B polygon %7B fill: %23333; %7D %7D%3C/style%3E%3Cpolygon points='9.192,0 4.243,4.95 2.121,2.828 0,4.95 2.121,7.071 4.243,9.192 6.364,7.071 11.314,2.121 '/%3E%3C/svg%3E") no-repeat 0 0;
}

.entry-date {
    font-style: italic;
    color: var(--midtone);
}

.entry-future .entry-date {
    color: var(--midtone);
}

.main {
    box-sizing: border-box;
    border-left: 3px solid var(--litetone);
    width: 85%;
    margin: 0 auto;
    padding: 0 0 0 30px;
}

[id] {
  scroll-margin-top: 2ex;
}

@media screen and (min-width: 800px) {

    .wrap {
        width: 95%;
        max-width: 1100px;
        margin: 0 auto 0 0px;
        position: relative;
        padding: 6em 0 10em;
    }

    .page-header-wrap {
        width: 35%;
        margin: 0;
        float: left;
        position: fixed;
        top: 0;
    }

    .page-header {
        border-bottom: none;
        padding-top: 6em;
        padding-left: 2em;
    }

    .main {
        width: 60%;
        margin: 0 0 0 40%;
    }

    .entry-title:after {
        top: 1.2em;
    }
}

@media screen and (min-width: 1100px) {
    .page-header-wrap {
        width: 385px;
    }
}
