<!doctype html>
<html lang="en">
<head>
	@Html.Partial("_layouts/metadata.cshtml")
</head>
<body>
	<header>
		<p><a href="/" rel="home">Lee Kelleher</a></p>
		<nav>
			<ul>
				<li><a href="/about/">About</a></li>
				<li><a href="/tag/umbraco/">Umbraco</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		<div>
			<p>For comments or questions, feel free to ask me on <a href="https://twitter.com/leekelleher">Twitter</a>, on <a href="https://github.com/leekelleher">Github</a>, or, via <a href="/contact/">my contact page</a>.</p>
			<p>Be notified of new posts. <a href="/feed/">Subscribe to my RSS feed</a>.</p>
			<p class="h-card">All content by <a class="p-name u-url" href="https://leekelleher.com">Lee Kelleher</a> (<span>&copy; 2006-@DateTime.UtcNow.Year</span>) and licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_GB">Creative Commons</a>. All code snippets are licensed using the <a rel="license" href="https://opensource.org/licenses/MIT">MIT license</a>.</p>
			<p>This website was generated using <a href="http://wyam.io">Wyam</a>. All code and content for this blog is available as <a href="https://github.com/leekelleher/leekelleher.com">open source on GitHub</a>.</p>
		</div>
	</footer>
</body>
</html>