<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	@Html.Partial("~/_layouts/metadata.cshtml")
</head>
<body>
	<header role="banner">
		<p><a href="/" rel="home">Lee Kelleher</a></p>
		<nav>
			<ul>
				<li><a href="/about/">About</a></li>
				<li><a href="/now/">Now</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer role="contentinfo">
		<div>
			<p>For comments or questions, feel free to ask me on <a href="https://twitter.com/leekelleher" rel="me">Twitter</a>, on <a href="https://github.com/leekelleher" rel="me">GitHub</a>, or, via <a href="/contact/">my contact page</a>.</p>
			<p>Be notified of new posts, <a href="/feed/">subscribe to my RSS feed</a>.</p>
			<p class="h-card">All content by <a rel="me" class="p-name u-url" href="https://leekelleher.com">Lee Kelleher</a> (<span>&copy; 2006-@DateTime.UtcNow.Year</span>) and licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en_GB" title="Creative Commons Attribution-ShareAlike 4.0 International ">Creative Commons</a>. All code snippets are licensed under the <a rel="license" href="https://opensource.org/licenses/MIT">MIT license</a>.</p>
			<p>This website was generated using <a href="https://wyam.io">Wyam</a>. All code and content for this blog is available as <a href="https://github.com/leekelleher/leekelleher.com">open source on GitHub</a>.</p>
		</div>
	</footer>
</body>
</html>