@{
	var dateFormat = Model.String("ArchiveDateFormat");
	var archiveDate = Model.String("ArchiveDate");
	
	var posts = Documents
		.ContainsKey("date")
		.Where(x => x.Get<DateTime>("date").ToString(dateFormat) == archiveDate);

	var displayFormat = string.Join(" ", dateFormat.Split('/').Reverse()).Replace("MM", "MMMM");
	var heading = posts.First().Get<DateTime>("date").ToString(displayFormat);
	
	ViewData["PostListDocuments"] = posts
		.OrderBy(x => x.Get<DateTime>("date"));
}

<section>
	<header>
		<h2>Blog archive by date</h2>
		<h3>@heading</h3>
	</header>
	@Html.Partial(@"_layouts\postListing")
</section>
