@{Layout = @"~/_layouts/_layout.cshtml";}

<div>
	<article>
		<header>
			<h1>@Model["title"]</h1>
		</header>
		@RenderBody()
	</article>
	<form action="/.code/form.php" method="post">
		<fieldset>
			<legend>Contact me</legend>
			<p>
				<label for="name">Name: <abbr title="required">*</abbr></label>
				<input type="text" name="name" id="name" placeholder="(required)" required aria-label="Enter your name">
			</p>
			<p>
				<label for="email">Email: <abbr title="required">*</abbr></label>
				<input type="email" name="email" id="email" placeholder="(required)" required aria-label="Enter your email address">
			</p>
			<p class="email-confirmation">
				<label for="email-confirmation">Email confirmation: <abbr title="required">*</abbr></label>
				<input type="email" name="email-confirmation" id="email-confirmation" placeholder="(required)" aria-label="Confirm your email address">
			</p>
			<p>
				<label for="website">Website: </label>
				<input type="url" name="website" id="website" placeholder="(optional)" aria-label="Optional, enter your website address">
			</p>
			<p>
				<label for="comment">Comment: <abbr title="required">*</abbr></label>
				<textarea name="comment" id="comment" cols="72" rows="8" placeholder="(required)" required aria-label="Enter your message"></textarea>
			</p>
			<p>
				<input type="submit" value="Send &#187;">
				<input type="hidden" name="redirect" value="/contact/thank-you/">
			</p>
		</fieldset>
	</form>
</div>