@{
	var postId = Model.Get("id", 0);
	var disqusId = postId > 0 ? string.Format("{1} https://{0}/?p={1}", "leekelleher.com", postId) : "";
	var disqusUrl = "https://" + "leekelleher.com" + Model.String("canonical", "/");
}
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '@disqusUrl';
        this.page.identifier = '@disqusId';
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.async = true;
        s.src = '//leekelleher.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>