WritePath: index.html
---
@{
	var numberOfPosts = 6;
	var posts = Documents
		.WhereContainsKey("date")
		.OrderByDescending(x => x.Get<DateTime>("date"));

	ViewData["PostListDocuments"] = posts.Take(numberOfPosts);
}

<section id="latest">
	<header>
		<h2>Latest posts</h2>
	</header>
	@Html.Partial("_layouts/postListing")
</section>

@Html.Partial("_layouts/archiveListing")
