WritePath: index.html
---
@{
	var baseUrl = "https://leekelleher.com";
	var numberOfPosts = 6;
	var posts = Documents
		.WhereContainsKey("date")
		.OrderByDescending(x => x.Get<DateTime>("date"));

	ViewData["PostListDocuments"] = posts.Take(numberOfPosts);
}

<script type="application/ld+json">{"@@context": "http://schema.org","@@type": "Person","name": "Lee Kelleher","image": "@baseUrl/assets/img/nxnw_300x300.jpg","sameAs": ["https://twitter.com/leekelleher","https://github.com/leekelleher","https://www.facebook.com/leekelleher","https://www.linkedin.com/in/leekelleher/","https://our.umbraco.com/members/leekelleher/","https://stackoverflow.com/users/12787/leekelleher"],"url": "@baseUrl","gender": "http://schema.org/Male","jobTitle": "Umbraco Consultant"}</script>

<section id="latest">
	<header>
		<h2>Latest posts</h2>
	</header>
	@Html.Partial("_layouts/postListing")
</section>

@Html.Partial("_layouts/archiveListing")
