@{
	Layout = @"~/_layouts/_layout.cshtml";
	var canonical = string.Concat("https://leekelleher.com", Model.String("canonical", "/"));
}

<div>
	<article class="h-entry">
		<header>
			<h1 class="p-name">@Html.Raw(Model.String("title"))</h1>
		</header>
		<div class="e-content">
			@RenderBody()
		</div>
		<aside>
			<p class="meta"><span>Permalink:</span> <a class="u-url" href="@canonical">@canonical</a></p>
		</aside>
	</article>
</div>