@{
	Layout = @"~/_layouts/_layout.cshtml";
}

<div>
	<article class="h-entry">
		<header>
			<h1 class="p-name">@Html.Raw(Model.String("title"))</h1>
		</header>
		<div class="e-content">
			@RenderBody()
		</div>
	</article>
</div>