@{
	var tag = Model.String("displayTag");

	var documentsWithTag = Documents
		.WhereContainsKey("tags")
		.WhereContainsKey("date")
		.Where(x => x.Get<string[]>("tags").Contains(tag, StringComparer.InvariantCultureIgnoreCase));

	ViewData["PostListDocuments"] = documentsWithTag
		.OrderByDescending(x => x.Get<DateTime>("date"));
}

<section>
	<header>
		<h1>@Model.String("title")</h1>
		@if (string.Equals(tag, "Umbraco", StringComparison.InvariantCultureIgnoreCase))
		{
			<p style="background-color: lightyellow;border: solid 2px orange;padding: 5px 10px;text-align: center;">If you would like to be notified of my latest Umbraco posts, please <a href="/tag/umbraco/feed/">subscribe to my Umbraco RSS feed</a>.</p>
		}
	</header>
	@Html.Partial("~/_layouts/postListing.cshtml")
</section>
