@{
	var documentsByTag = Documents
		.ContainsKey("tags")
		.ToLookup<string>("tags");

	var tag = Model.String("title");

	ViewData["PostListDocuments"] = documentsByTag[tag]
		.OrderByDescending(x => x.Get<DateTime>("date"));
}

<section>
	<header>
		<h1>Blog archive by tag: @tag</h1>
	</header>
	@Html.Partial("_layouts/postListing")
</section>
