@{
	var documentsByTag = Documents
		.WhereContainsKey("tags")
		.WhereContainsKey("date")
		.ToLookupMany<string>("tags", StringComparer.CurrentCultureIgnoreCase);

	var tag = Model.String("displayTag");

	ViewData["PostListDocuments"] = documentsByTag[tag]
		.OrderByDescending(x => x.Get<DateTime>("date"));
}

<section>
	<header>
		<h1>@Model.String("title")</h1>
	</header>
	@Html.Partial("_layouts/postListing")
</section>
