@{
	var documentsByTag = Documents
		.ContainsKey("tags")
		.ToLookup<string>("tags");

	var tag = Model.String("Title");

	ViewData["PostListDocuments"] = documentsByTag[tag]
		.OrderByDescending(x => x.Get<DateTime>("date"));
}

<section>
	<header>
		<h2>Blog archive by tag</h2>
		<h3>@tag</h3>
	</header>
	@Html.Partial(@"_layouts\postListing")
</section>
