# BEGIN Redirects
Redirect 301 /wp-login.php http://leekelleher.com/
Redirect 301 /wp/wp-links-opml.php http://leekelleher.com/wordpress/wp-links-opml.php
Redirect 301 /js/jquery.min.js http://leekelleher.com/assets/js/jquery.min.js
Redirect 301 /feeds/ http://leekelleher.com/feed/
Redirect 301 /feeds/index.php http://leekelleher.com/feed/
Redirect 301 /zeitgeist/ http://leekelleher.com/
Redirect 301 /woFamily http://leekelleher.com/
Redirect 301 /mp3/opentape/ https://soundcloud.com/leekelleher
Redirect 301 /2006/08/31/ducks-with-teeth/ http://leekelleher.com/
Redirect 301 /2006/11/30/the-mii-lebowski/ http://leekelleher.com/
Redirect 301 /2007/04/13/hats-for-cats/ http://leekelleher.com/

RedirectMatch 301 /+((?!wordpress).*)/wp-login.php http://leekelleher.com/
RedirectMatch 301 /linklog/(.*) http://leekelleher.com/$1
RedirectMatch 301 /tags/(.*) http://leekelleher.com/tag/$1
RedirectMatch 301 /(.*)/timthumb.php http://leekelleher.com/
RedirectMatch 301 /ajax.googleapis.com/(.*)$ https://ajax.googleapis.com/$1
RedirectMatch 301 /platform.twitter.com/(.*)$ https://platform.twitter.com/$1
RedirectMatch 301 /search.twitter.com/(.*)$ https://twitter.com/$1
RedirectMatch 301 /(.*)https:/twitter.com$ https://twitter.com/leekelleher
RedirectMatch 301 /(.*)function.session-start$ http://php.net/manual/en/function.session-start.php
RedirectMatch 301 /(.*)function.fopen$ http://php.net/manual/en/function.fopen.php
RedirectMatch 301 /embed.js(.*) http://leekelleher.disqus.com/embed.js$1
RedirectMatch 301 /2009/09/08/umbraco-ultimate-picker-xslt-example/(.+)$ http://leekelleher.com/2009/09/08/umbraco-ultimate-picker-xslt-example/

Redirect 302 /tag/browsers/ http://leekelleher.com/
Redirect 302 /2007/01/23/hooray-for-joel/ http://news.bbc.co.uk/1/hi/entertainment/6289933.stm
Redirect 302 /2006/12/18/bushs-united-states-of-whatever/ http://www.johnrichie.com/V2/movies/moviePage.php?title=My%20US%20of%20Whateva&width=550&height=400&file=BUSH_FINAL.swf
Redirect 302 /2006/11/03/scratchzilla/ http://www.youtube.com/watch?v=IqULTO4SOqU
Redirect 302 /2006/08/27/browser-capabilities-php-project/ https://github.com/GaretJax/phpbrowscap
Redirect 302 /2006/08/27/php-standalone-get_browser-for-browscap/ http://alexandre.alapetite.fr/doc-alex/php-local-browscap/
# END Redirects

# BEGIN Rewrite for assets/favicons
<IfModule mod_rewrite.c>
RewriteRule ^favicon\.ico$ assets/ico/favicon.ico [L]
RewriteRule ^apple-touch-icon\.png$ assets/ico/apple-touch-icon.png [L]
RewriteRule ^apple-touch-icon-precomposed\.png$ assets/ico/apple-touch-icon-precomposed.png [L]
RewriteRule ^apple-touch-icon-57x57\.png$ assets/ico/apple-touch-114-icon.png [L]
RewriteRule ^apple-touch-icon-114x114\.png$ assets/ico/apple-touch-icon-114.png [L]
RewriteRule ^apple-touch-icon-72x72\.png$ assets/ico/apple-touch-icon-144.png [L]
RewriteRule ^apple-touch-icon-144x144\.png$ assets/ico/apple-touch-icon-144.png [L]
</IfModule>
# END Rewrite for Favicons

# BEGIN DreamHost
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/stats/(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^/failed_auth.html$
RewriteRule ^.*$ - [L]
</IfModule>
# END DreamHost

# BEGIN WPSuperCache
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
#If you serve pages from behind a proxy you may want to change 'RewriteCond %{HTTPS} on' to something more sensible
AddDefaultCharset UTF-8
RewriteCond %{REQUEST_URI} !^.*[^/]$
RewriteCond %{REQUEST_URI} !^.*//.*$
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{QUERY_STRING} !.*=.*
RewriteCond %{HTTP:Cookie} !^.*(comment_author_|wordpress_logged_in|wp-postpass_).*$
RewriteCond %{HTTP:X-Wap-Profile} !^[a-z0-9\"]+ [NC]
RewriteCond %{HTTP:Profile} !^[a-z0-9\"]+ [NC]
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{HTTPS} on
RewriteCond %{DOCUMENT_ROOT}/wordpress/wp-content/cache/supercache/%{SERVER_NAME}/$1/index-https.html.gz -f
RewriteRule ^(.*) "/wordpress/wp-content/cache/supercache/%{SERVER_NAME}/$1/index-https.html.gz" [L]

RewriteCond %{REQUEST_URI} !^.*[^/]$
RewriteCond %{REQUEST_URI} !^.*//.*$
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{QUERY_STRING} !.*=.*
RewriteCond %{HTTP:Cookie} !^.*(comment_author_|wordpress_logged_in|wp-postpass_).*$
RewriteCond %{HTTP:X-Wap-Profile} !^[a-z0-9\"]+ [NC]
RewriteCond %{HTTP:Profile} !^[a-z0-9\"]+ [NC]
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{HTTPS} !on
RewriteCond %{DOCUMENT_ROOT}/wordpress/wp-content/cache/supercache/%{SERVER_NAME}/$1/index.html.gz -f
RewriteRule ^(.*) "/wordpress/wp-content/cache/supercache/%{SERVER_NAME}/$1/index.html.gz" [L]

RewriteCond %{REQUEST_URI} !^.*[^/]$
RewriteCond %{REQUEST_URI} !^.*//.*$
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{QUERY_STRING} !.*=.*
RewriteCond %{HTTP:Cookie} !^.*(comment_author_|wordpress_logged_in|wp-postpass_).*$
RewriteCond %{HTTP:X-Wap-Profile} !^[a-z0-9\"]+ [NC]
RewriteCond %{HTTP:Profile} !^[a-z0-9\"]+ [NC]
RewriteCond %{HTTPS} on
RewriteCond %{DOCUMENT_ROOT}/wordpress/wp-content/cache/supercache/%{SERVER_NAME}/$1/index-https.html -f
RewriteRule ^(.*) "/wordpress/wp-content/cache/supercache/%{SERVER_NAME}/$1/index-https.html" [L]

RewriteCond %{REQUEST_URI} !^.*[^/]$
RewriteCond %{REQUEST_URI} !^.*//.*$
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{QUERY_STRING} !.*=.*
RewriteCond %{HTTP:Cookie} !^.*(comment_author_|wordpress_logged_in|wp-postpass_).*$
RewriteCond %{HTTP:X-Wap-Profile} !^[a-z0-9\"]+ [NC]
RewriteCond %{HTTP:Profile} !^[a-z0-9\"]+ [NC]
RewriteCond %{HTTPS} !on
RewriteCond %{DOCUMENT_ROOT}/wordpress/wp-content/cache/supercache/%{SERVER_NAME}/$1/index.html -f
RewriteRule ^(.*) "/wordpress/wp-content/cache/supercache/%{SERVER_NAME}/$1/index.html" [L]
</IfModule>
# END WPSuperCache

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

# BEGIN WordPress Security
<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_URI} !^/(wp-login.php|wp-admin/|wp-content/plugins/|wp-includes/).* [NC]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ ///.*\ HTTP/ [NC,OR]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\?\=?(http|ftp|ssl|https):/.*\ HTTP/ [NC,OR]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\?\?.*\ HTTP/ [NC,OR]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.(asp|ini|dll).*\ HTTP/ [NC,OR]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.(htpasswd|htaccess|aahtpasswd).*\ HTTP/ [NC]
RewriteRule .* - [F,NS,L]
</IfModule>
# END WordPress Security

# # BEGIN Maintanence Mode
# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteBase /
# RewriteCond %{REQUEST_URI} !/503.php$
# RewriteCond %{REMOTE_ADDR} !^86\.31\.167\.101$
# RewriteRule ^(.*)$ /503.php [R=302,L]
# </IfModule>
# # END Maintanence Mode