@copy:    Georgia, serif;
@heading: Arial, Helvetica, sans-serif;
@code:    "Lucida Console", Monaco, monospace;

.section-border() {
	border-bottom: grey inset 1px;
	margin-bottom: 2em;
	padding-bottom: 1em;
}

.list-item-spacing() {
	li {
		margin-bottom: 1em;
	}
}

body {
	font-family: @copy;
	max-width: 100em;
	
	> header {
		.section-border();
	}
}

header, footer {
	nav {
		.list-item-spacing();
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: @heading;
}

a[rel=tag] {
	font-family: @code;
	font-size: small;
}

main {
	.section-border();
	
	section {
		.list-item-spacing();
	}
	
	> section:first-child {
		.section-border();
	}
}

.email-confirmation {
	display: none;
}