@copy:    Georgia, serif;
@heading: Arial, Helvetica, sans-serif;
@code:    "Lucida Console", Monaco, monospace;

.section-border() {
	border-bottom: rgba(0, 0, 0, 0.2) inset 1px;
	margin-bottom: 2em;
	padding-bottom: 1.75em;
}

.list-item-spacing() {
	li {
		margin-bottom: 1em;
	}
}

body {
	/*background-color: whitesmoke;*/
	font-family: @copy;
	max-width: 100em;
	margin: 10px;
	
	> header {
		.section-border();
		
		background: url(/assets/img/nxnw_80x80.png) no-repeat;
		padding-left: 90px;
		
		> p {
			font-family: @heading;
			font-size: xx-large;
			font-weight: bold;
			margin: 0;
			padding: 0 0 0.25em 0;
			
			a:visited {
				/*color: inherit;*/
			}
		}
		
		> nav {
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				
				li {
					display: inline;
					padding-right: 1em;
				}
			}
		}
	}
}

header {
	nav {
		.list-item-spacing();
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: @heading;
}

a {
	/*color: navy;*/
	text-decoration: none;
	
	&:visited {
		/*color: darkmagenta;*/
	}
	
	&:hover {
		text-decoration: underline;
	}

	&:active {
		/*color: firebrick;*/
	}
}

a[rel=tag] {
	font-family: @code;
	font-size: small;
}

img {
	max-width: 100%;
	height: auto;
}

main {
	.section-border();
	
	section {
		.list-item-spacing();
	}
	
	> section#latest {
		.section-border();
	}
	
	p {
		line-height: 1.75em;
		
		a {
			text-decoration: underline;
		}
	}
}

footer {
	p {
		line-height: 1.75em;
	}
}

.email-confirmation {
	display: none;
}