# BEGIN Redirects
Redirect 301 /wp-login.php https://leekelleher.com/
Redirect 301 /wp/wp-links-opml.php https://leekelleher.com/wordpress/wp-links-opml.php
Redirect 301 /js/jquery.min.js https://leekelleher.com/assets/js/jquery.min.js
Redirect 301 /feeds/ https://leekelleher.com/feed/
Redirect 301 /feeds/index.php https://leekelleher.com/feed/
Redirect 301 /zeitgeist/ https://leekelleher.com/now/
Redirect 301 /woFamily https://leekelleher.com/
Redirect 301 /mp3/opentape/ https://soundcloud.com/leekelleher
Redirect 301 /2006/08/31/ducks-with-teeth/ https://leekelleher.com/
Redirect 301 /2006/11/30/the-mii-lebowski/ https://leekelleher.com/
Redirect 301 /2007/04/13/hats-for-cats/ https://leekelleher.com/

RedirectMatch 301 /+((?!wordpress).*)/wp-login.php https://leekelleher.com/
RedirectMatch 301 /linklog/(.*) https://leekelleher.com/$1
RedirectMatch 301 /tags/(.*) https://leekelleher.com/tag/$1
RedirectMatch 301 /(.*)/timthumb.php https://leekelleher.com/
RedirectMatch 301 /ajax.googleapis.com/(.*)$ https://ajax.googleapis.com/$1
RedirectMatch 301 /platform.twitter.com/(.*)$ https://platform.twitter.com/$1
RedirectMatch 301 /search.twitter.com/(.*)$ https://twitter.com/$1
RedirectMatch 301 /(.*)https:/twitter.com$ https://twitter.com/leekelleher
RedirectMatch 301 /(.*)function.session-start$ http://php.net/manual/en/function.session-start.php
RedirectMatch 301 /(.*)function.fopen$ http://php.net/manual/en/function.fopen.php
RedirectMatch 301 /embed.js(.*) http://leekelleher.disqus.com/embed.js$1

Redirect 302 /spaceoddity/ https://www.lulu.com/spotlight/vertino
Redirect 302 /tag/browsers/ https://leekelleher.com/
Redirect 302 /tag/linklog/ https://leekelleher.com/
Redirect 302 /2006/08/25/wrong-guy-could-inspire-movie/ http://news.bbc.co.uk/1/hi/entertainment/5277722.stm
Redirect 302 /2006/08/26/big-brother-is-watching-you/ https://www.lewrockwell.com/2006/08/tom-chartier/how-paranoid-can-we-get/
Redirect 302 /2006/08/27/browser-capabilities-php-project/ https://github.com/GaretJax/phpbrowscap
Redirect 302 /2006/08/27/php-standalone-get_browser-for-browscap/ http://alexandre.alapetite.fr/doc-alex/php-local-browscap/
Redirect 302 /2006/08/27/crazy-mouse-speed-game/ http://www.gameshot.org/?id=108
Redirect 302 /2006/08/28/learn-how-to-wetshaving/ http://www.youtube.com/watch?v=xjhIy9rgWQU
Redirect 302 /2006/08/31/fingers-in-food/ http://www.zefrank.com/theshow/archives/2006/08/083006.html
Redirect 302 /2006/08/31/flickr-geo-api-methods/ http://groups.yahoo.com/group/yws-flickr/message/2161
Redirect 302 /2006/08/31/dave-grohl-to-meet-trapped-miners/ http://news.bbc.co.uk/1/hi/entertainment/5301658.stm
Redirect 302 /2006/08/31/charlotte-church-as-a-man/ http://news.bbc.co.uk/1/shared/spl/hi/pop_ups/06/entertainment_enl_1157018860/html/1.stm
Redirect 302 /2006/08/29/flickr-geotag-maps/ http://blog.flickr.net/en/2006/08/28/great-shot-whered-you-take-that/
Redirect 302 /2006/09/01/the-off-by-one-web-browser/ http://offbyone.com/offbyone/
Redirect 302 /2006/09/01/phishing-phor-phishers/ https://www.dreamhost.com/blog/dont-get-caught-in-the-phishing-net/
Redirect 302 /2006/09/01/portableapps/ http://portableapps.com/
Redirect 302 /2006/09/02/every-mans-dream-girl/ http://www.metacafe.com/watch/178205/every_mans_dream_girl/
Redirect 302 /2006/09/04/crocodile-hunter-irwin-killed/ http://news.bbc.co.uk/1/hi/world/asia-pacific/5311298.stm
Redirect 302 /2006/09/09/sudan-man-forced-to-marry-goat/ http://news.bbc.co.uk/1/hi/world/africa/4748292.stm
Redirect 302 /2006/09/27/little-superstar/ http://www.youtube.com/watch?v=gx-NLPH8JeM
Redirect 302 /2006/09/30/comixpress/ http://www.comixpress.com/
Redirect 302 /2006/09/24/moo-minicards/ http://blog.flickr.net/en/2006/09/20/moo-minicards/
Redirect 302 /2006/09/24/beijings-penis-emporium/ http://news.bbc.co.uk/1/hi/programmes/from_our_own_correspondent/5371500.stm
Redirect 302 /2006/10/04/how-to-survive-a-plane-crash/ http://news.bbc.co.uk/1/hi/magazine/5402342.stm
Redirect 302 /2006/10/10/the-world-at-night/ http://antwrp.gsfc.nasa.gov/apod/image/0610/earthlights02_dmsp_big.jpg
Redirect 302 /2006/10/10/google-buys-youtube-for-883m/ http://news.bbc.co.uk/1/hi/business/6034577.stm
Redirect 302 /2006/10/12/woman-drawn-from-the-inside-out/ http://www.pelourinho.com/movies/c003702/
Redirect 302 /2006/10/16/lost-in-translation/ http://news.bbc.co.uk/1/hi/world/asia-pacific/6052800.stm
Redirect 302 /2006/10/18/whos-afraid-of-the-big-bad-wolf/ http://b3ta.com/board/6434481
Redirect 302 /2006/10/20/kids-with-mullets/ http://www.mulletjunky.com/childmullets.htm
Redirect 302 /2006/10/25/lik-sangcom-out-of-business-due-to-multiple-sony-lawsuits/ http://news.bbc.co.uk/1/hi/technology/6083856.stm
Redirect 302 /2006/10/25/pelican-swallows-pigeon-in-park/ http://news.bbc.co.uk/1/hi/england/london/6083468.stm
Redirect 302 /2006/10/26/ever-wondered-how-names-originated/ http://ncsi.iisc.ernet.in/pipermail/ncsi-net/2003-April/000163.html
Redirect 302 /2006/10/29/the-perry-bible-fellowship/ http://arts.guardian.co.uk/features/story/0,,1581711,00.html
Redirect 302 /2006/10/29/a-softer-world/ http://www.asofterworld.com/
Redirect 302 /2006/11/01/dark-mms-horror-movie-game/ http://candyaddict.com/blog/2006/09/23/dark-mms-horror-movie-game/
Redirect 302 /2006/11/02/borat-clips/ https://en.wikipedia.org/wiki/Mahir_%C3%87a%C4%9Fr%C4%B1
Redirect 302 /2006/11/02/76/ http://www.asciipr0n.com/
Redirect 302 /2006/11/03/scratchzilla/ http://www.youtube.com/watch?v=IqULTO4SOqU
Redirect 302 /2006/11/03/the-bumper-b3ta-book-of-sick-jokes/ http://www.amazon.co.uk/exec/obidos/ASIN/1905548281/leekelleher-21
Redirect 302 /2006/11/04/tenacious-d-movie/ http://www.imdb.com/title/tt0365830/
Redirect 302 /2006/11/10/103m-euromillions-sales-soaring/ http://news.bbc.co.uk/1/hi/uk/6135562.stm
Redirect 302 /2006/11/10/the-bill-faces-real-crime-drama/ http://news.bbc.co.uk/1/hi/entertainment/6135706.stm
Redirect 302 /2006/11/30/ron-mueck/ http://en.wikipedia.org/wiki/Ron_Mueck
Redirect 302 /2006/11/27/the-names-cleese-john-cleese/ http://b3ta.com/board/6572299
Redirect 302 /2006/11/25/firefox-20-breaks-client-side-xsl-for-web-feeds/ http://decafbad.com/blog/2006/11/02/firefox-20-breaks-client-side-xsl-for-rss-and-atom-feeds
Redirect 302 /2006/11/23/michael-shields-flies-home/ http://news.bbc.co.uk/1/hi/england/merseyside/6176610.stm
Redirect 302 /2006/12/01/kelvin-mackenzie-scumbag/ https://www.theguardian.com/media/greenslade/2012/sep/27/kelvin-mackenzie-hillsborough-disaster
Redirect 302 /2006/12/01/pigeons-of-shit-metal/ http://www.blabbermouth.net/news/guns-n-roses-manager-eagles-of-death-metal-could-not-handle-audience-response/
Redirect 302 /2006/12/18/bushs-united-states-of-whatever/ http://www.johnrichie.com/V2/movies/moviePage.php?title=My%20US%20of%20Whateva&width=550&height=400&file=BUSH_FINAL.swf
Redirect 302 /2006/12/14/google-patent-search/ http://blog.outer-court.com/archive/2006-12-14-n35.html
Redirect 302 /2006/12/20/santa-24/ https://www.youtube.com/watch?v=tp19qiash2U
Redirect 302 /2006/12/25/merry-christmas-everyone/ http://www.lee-and-lucy.com/travelblog/2006/12/24/merry-christmas-everyone/
Redirect 302 /2007/01/07/zx-spectrum-emulator/ http://www.rtapeloadingerror.com/
Redirect 302 /2007/01/17/cant-stop-thinking-about-ninjas/ http://www.realultimatepower.net/index4.htm
Redirect 302 /2007/01/21/whats-that-song/ http://www.commercialbreaksandbeats.co.uk/
Redirect 302 /2007/01/28/running-from-camera/ http://runningfromcamera.blogspot.com/
Redirect 302 /2007/01/28/at-home-with-barry-scott/ https://www.youtube.com/watch?v=B9kcA7oO70M
Redirect 302 /2007/01/23/hooray-for-joel/ http://news.bbc.co.uk/1/hi/entertainment/6289933.stm
Redirect 302 /2007/02/06/burn-almost-any-video-file-to-a-playable-dvd/ http://www.dvdflick.net/
Redirect 302 /2007/02/23/will-it-blend-lightsticks/ http://www.b3ta.com/links/Will_it_blend_Lightsticks
Redirect 302 /2007/02/20/guinness-marmite/ http://xo.typepad.com/blog/2007/02/guinness_marmit.html
Redirect 302 /2007/03/01/baby-animal-love-story/ http://news.bbc.co.uk/1/hi/in_pictures/6404425.stm
Redirect 302 /2007/03/07/reggae-reggae-sauce/ http://news.bbc.co.uk/1/hi/uk/6424021.stm
Redirect 302 /2007/03/16/flickr-rotation-game/ http://www.gamesforthebrain.com/game/rotate/
Redirect 302 /2007/03/16/mcdonalds-responds-to-customer-query/ http://www.theregister.co.uk/2007/03/16/make_your_own_mind_up/
Redirect 302 /2007/03/30/worlds-first-under-sea-restaurant/ http://en.wikipedia.org/wiki/Ithaa
Redirect 302 /2007/03/31/barenaked-ladies-the-bathroom-sessions/ http://www.youtube.com/user/NettwerkMusic
Redirect 302 /2007/04/01/forkpress-time-to-switch/ http://asymptomatic.net/2007/04/01/2583/time-to-fork
Redirect 302 /2007/04/01/google-tisp-free-wireless-broadband/ http://www.google.com/tisp/
Redirect 302 /2007/04/13/crt-monitor-giant-slingshot-ripe-fruit/ http://www.thomasscott.net/slingshot/
Redirect 302 /2007/04/13/where-company-names-come-from/ https://web.archive.org/web/20070407000139/http://www.fortymedia.com/blog/post/69
Redirect 302 /2007/04/18/make-the-logo-bigger/ http://www.underconsideration.com/MaketheLogoBigger.mp3
Redirect 302 /2007/04/19/sex-doll-for-dogs/ http://gizmodo.com/gadgets/gadgets/hotdoll-the-sex-doll-for-dogs-253334.php
Redirect 302 /2007/06/01/blood-puddle-pillows/ http://fromkeetra.com/blood-puddle-pillow/
Redirect 302 /2007/06/01/cat-with-bow-golf/ http://ishi.blog2.fc2.com/blog-entry-211.html
Redirect 302 /2007/06/05/swear-in-any-language/ http://www.youswear.com/
Redirect 302 /2007/06/07/die-hard-music-video/ http://www.youtube.com/watch?v=OTyw6cq86kY
Redirect 302 /2007/06/08/wet-cats/ http://animal-pix.blogspot.com/2007/05/wet-cats.html
Redirect 302 /2007/06/23/worlds-ugliest-dog-contest-2007/ http://blog.nj.com/southjerseylife/2007/06/in_this_competition_things_get.html
Redirect 302 /2007/07/09/shocking-cats/ http://shockingcats.ytmnd.com/

Redirect 410 /2006/08/25/dvd-house-of-horror/
Redirect 410 /2006/08/25/obsessive-complusive-cat/
Redirect 410 /2006/08/25/wrong-guy-could-inspire-movie/
Redirect 410 /2006/08/26/big-brother-is-watching-you/
Redirect 410 /2006/08/27/crazy-mouse-speed-game/
Redirect 410 /2006/08/28/learn-how-to-wetshaving/
Redirect 410 /2006/08/29/flickr-geotag-maps/
Redirect 410 /2006/08/30/siteinfo-extension-for-firefox/
Redirect 410 /2006/08/31/cat-using-toilet/
Redirect 410 /2006/08/31/charlotte-church-as-a-man/
Redirect 410 /2006/08/31/dave-grohl-to-meet-trapped-miners/
Redirect 410 /2006/08/31/fingers-in-food/
Redirect 410 /2006/08/31/flickr-geo-api-methods/
Redirect 410 /2006/09/01/armor-of-god-pjs/
Redirect 410 /2006/09/01/google-image-labeler/
Redirect 410 /2006/09/01/phishing-phor-phishers/
Redirect 410 /2006/09/01/portableapps/
Redirect 410 /2006/09/01/the-off-by-one-web-browser/
Redirect 410 /2006/09/02/every-mans-dream-girl/
Redirect 410 /2006/09/04/crocodile-hunter-irwin-killed/
Redirect 410 /2006/09/09/inanimate-character-stickers/
Redirect 410 /2006/09/09/sudan-man-forced-to-marry-goat/
Redirect 410 /2006/09/18/beedogs/
Redirect 410 /2006/09/24/beijings-penis-emporium/
Redirect 410 /2006/09/24/moo-minicards/
Redirect 410 /2006/09/25/fun-comedy-action-men-in-coats/
Redirect 410 /2006/09/27/little-superstar/
Redirect 410 /2006/09/28/assinthebox/
Redirect 410 /2006/09/28/baby-toupee/
Redirect 410 /2006/09/30/comixpress/
Redirect 410 /2006/09/30/dont-cry-over-chopped-onionsonion-goggles/
Redirect 410 /2006/09/30/funniest-game-show-blooper-ever/
Redirect 410 /2006/09/30/giant-bug-found-on-google-earth/
Redirect 410 /2006/09/30/lighter-igniting-in-slow-motion/
Redirect 410 /2006/09/30/yahoo-mail-is-going-open-source/
Redirect 410 /2006/10/02/most-popular-funeral-songs/
Redirect 410 /2006/10/02/the-new-tmx-elmo/
Redirect 410 /2006/10/03/what-happends-when-you-put-a-light-bulb-in-the-microwave/
Redirect 410 /2006/10/04/how-to-survive-a-plane-crash/
Redirect 410 /2006/10/09/google-code-search/
Redirect 410 /2006/10/10/google-buys-youtube-for-883m/
Redirect 410 /2006/10/10/the-world-at-night/
Redirect 410 /2006/10/12/woman-drawn-from-the-inside-out/
Redirect 410 /2006/10/16/lost-in-translation/
Redirect 410 /2006/10/18/text-link-ads/
Redirect 410 /2006/10/18/whos-afraid-of-the-big-bad-wolf/
Redirect 410 /2006/10/19/text-link-ads-declined/
Redirect 410 /2006/10/20/kids-with-mullets/
Redirect 410 /2006/10/25/lik-sangcom-out-of-business-due-to-multiple-sony-lawsuits/
Redirect 410 /2006/10/25/pelican-swallows-pigeon-in-park/
Redirect 410 /2006/10/26/ever-wondered-how-names-originated/
Redirect 410 /2006/10/29/a-softer-world/
Redirect 410 /2006/10/29/the-perry-bible-fellowship/
Redirect 410 /2006/11/01/dark-mms-horror-movie-game/
Redirect 410 /2006/11/01/paint-ball-flash-game/
Redirect 410 /2006/11/02/76/
Redirect 410 /2006/11/02/borat-clips/
Redirect 410 /2006/11/03/kat-slater-reggae-music/
Redirect 410 /2006/11/03/the-bumper-b3ta-book-of-sick-jokes/
Redirect 410 /2006/11/04/tenacious-d-movie/
Redirect 410 /2006/11/06/christmas-crackers/
Redirect 410 /2006/11/06/funny-family-guy-clip/
Redirect 410 /2006/11/10/103m-euromillions-sales-soaring/
Redirect 410 /2006/11/10/the-bill-faces-real-crime-drama/
Redirect 410 /2006/11/11/opml-links/
Redirect 410 /2006/11/23/michael-shields-flies-home/
Redirect 410 /2006/11/24/forget-the-hoff/
Redirect 410 /2006/11/24/making-cat-5-cables/
Redirect 410 /2006/11/25/firefox-20-breaks-client-side-xsl-for-web-feeds/
Redirect 410 /2006/11/25/winestripe-firefox-15-theme-for-firefox-20/
Redirect 410 /2006/11/27/ps3-vs-wii/
Redirect 410 /2006/11/27/the-names-cleese-john-cleese/
Redirect 410 /2006/11/30/delicious-recursion/
Redirect 410 /2006/11/30/ron-mueck/
Redirect 410 /2006/12/01/downing-sts-e-petitions/
Redirect 410 /2006/12/01/kelvin-mackenzie-scumbag/
Redirect 410 /2006/12/01/pigeons-of-shit-metal/
Redirect 410 /2006/12/04/24-day-6-prequel/
Redirect 410 /2006/12/04/lark-lane-community-website/
Redirect 410 /2006/12/05/news-map/
Redirect 410 /2006/12/14/evil-coke-scum/
Redirect 410 /2006/12/14/google-patent-search/
Redirect 410 /2006/12/14/midget-fight-on-springer/
Redirect 410 /2006/12/14/passengers-face-2-jla-turnstiles-safety-toll/
Redirect 410 /2006/12/20/santa-24/
Redirect 410 /2006/12/21/bah-humbug/
Redirect 410 /2006/12/25/merry-christmas-everyone/
Redirect 410 /2007/01/07/zx-spectrum-emulator/
Redirect 410 /2007/01/12/man-who-makes-animal-noises/
Redirect 410 /2007/01/13/stephen-hawking-sings/
Redirect 410 /2007/01/17/cant-stop-thinking-about-ninjas/
Redirect 410 /2007/01/21/making-moo-gnets/
Redirect 410 /2007/01/21/whats-that-song/
Redirect 410 /2007/01/25/guide-horses/
Redirect 410 /2007/01/28/at-home-with-barry-scott/
Redirect 410 /2007/01/28/running-from-camera/
Redirect 410 /2007/01/28/usb-humping-dog/
Redirect 410 /2007/02/06/burn-almost-any-video-file-to-a-playable-dvd/
Redirect 410 /2007/02/06/manboobs-were-fat-and-were-proud/
Redirect 410 /2007/02/08/lo-fi-zombie-killing-game/
Redirect 410 /2007/02/13/how-to-not-get-robbed-by-scary-white-men/
Redirect 410 /2007/02/20/guinness-marmite/
Redirect 410 /2007/02/23/cat-shelves/
Redirect 410 /2007/02/23/will-it-blend-lightsticks/
Redirect 410 /2007/03/01/baby-animal-love-story/
Redirect 410 /2007/03/07/reggae-reggae-sauce/
Redirect 410 /2007/03/16/flickr-rotation-game/
Redirect 410 /2007/03/16/mcdonalds-responds-to-customer-query/
Redirect 410 /2007/03/21/keith-harris-car-registration-is-or-v1l/
Redirect 410 /2007/03/28/suits-you-sir/
Redirect 410 /2007/03/28/team-wiggly/
Redirect 410 /2007/03/30/my-fine-is-15261/
Redirect 410 /2007/03/30/worlds-first-under-sea-restaurant/
Redirect 410 /2007/03/31/barenaked-ladies-the-bathroom-sessions/
Redirect 410 /2007/04/13/crt-monitor-giant-slingshot-ripe-fruit/
Redirect 410 /2007/04/13/where-company-names-come-from/
Redirect 410 /2007/04/18/make-the-logo-bigger/
Redirect 410 /2007/04/19/sex-doll-for-dogs/
Redirect 410 /2007/06/01/blood-puddle-pillows/
Redirect 410 /2007/06/01/cat-with-bow-golf/
Redirect 410 /2007/06/02/bodypopping-pipe-cleaner/
Redirect 410 /2007/06/05/swear-in-any-language/
Redirect 410 /2007/06/07/die-hard-music-video/
Redirect 410 /2007/06/08/wet-cats/
Redirect 410 /2007/06/23/worlds-ugliest-dog-contest-2007/
Redirect 410 /2007/07/09/shocking-cats/
Redirect 410 /2007/11/22/how-many-html-elements-can-you-name-in-5-minutes/

# END Redirects

# # BEGIN Maintanence Mode
# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteBase /
# RewriteCond %{REQUEST_URI} !/503.php$
# RewriteCond %{REMOTE_ADDR} !^86\.31\.167\.101$
# RewriteRule ^(.*)$ /503.php [R=302,L]
# </IfModule>
# # END Maintanence Mode

# BEGIN HTTPS Redirect
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
# END HTTPS Redirect

# BEGIN Rewrite for Favicons
<IfModule mod_rewrite.c>
RewriteRule ^favicon\.ico$ assets/ico/favicon.ico [L]
RewriteRule ^apple-touch-icon\.png$ assets/ico/apple-touch-icon.png [L]
RewriteRule ^apple-touch-icon-precomposed\.png$ assets/ico/apple-touch-icon-precomposed.png [L]
RewriteRule ^apple-touch-icon-57x57\.png$ assets/ico/apple-touch-114-icon.png [L]
RewriteRule ^apple-touch-icon-114x114\.png$ assets/ico/apple-touch-icon-114.png [L]
RewriteRule ^apple-touch-icon-72x72\.png$ assets/ico/apple-touch-icon-144.png [L]
RewriteRule ^apple-touch-icon-144x144\.png$ assets/ico/apple-touch-icon-144.png [L]
</IfModule>
# END Rewrite for Favicons

# BEGIN Prevent Hacks
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^(.*)/CHANGELOG.txt$ [OR]
RewriteCond %{REQUEST_URI} ^(.*)/ckeditor/(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^(.*)/drupal/(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^(.*)/fckeditor/(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^(.*)/wp-admin/(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^(.*)/wp-includes/(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^(.*)/wp-(.*).php$
RewriteRule ^.*$ - [F,L]
</IfModule>
# END Prevent Hacks

# BEGIN DreamHost
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/stats/(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^/failed_auth.html$
RewriteRule ^.*$ - [L]
</IfModule>
# END DreamHost

# BEGIN Page Not Found
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /404.php [QSA,L]
</IfModule>
# END Page Not Found

# BEGIN Deflate/Gzip
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE image/x-icon
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/x-font
AddOutputFilterByType DEFLATE application/x-font-truetype
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/x-font-otf
AddOutputFilterByType DEFLATE application/x-font-opentype
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE font/ttf
AddOutputFilterByType DEFLATE font/otf
AddOutputFilterByType DEFLATE font/opentype

# For Olders Browsers Which Can't Handle Compression
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>
# END Deflate/Gzip

# BEGIN Expires
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 10 days"
ExpiresByType image/gif "access plus 3 month"
ExpiresByType image/png "access plus 3 month"
ExpiresByType image/jpeg "access plus 3 month"
ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END Expires

# BEGIN Security Headers
<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
Header set X-Content-Type-Options nosniff
Header always append X-Frame-Options SAMEORIGIN
Header set X-XSS-Protection "1; mode=block"
</IfModule>
# END Security Headers

# BEGIN Cookie-less
<IfModule mod_headers.c>
	Header unset ETag
	Header unset Cookie
	Header unset Set-Cookie
</IfModule>
# END Cookie-less

ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 410 /410.php